# Understanding Basic data types and data structures in R

everything in R an object

R has 6 basic data types (in addition to the first five listed below there is also raw which will not discussed in this workshop )

- character : "a" , "sec"
- number(real or decimal) : 2, 15.5
- interger : 2L (the L tells R to store this as an integer )
- logical : True , False
- complex : 1+4i (complex or imaginary values)

- class() :- what kind of object is it(high-level)?
- typeof() :- what is the objects data type ( low-level) ?
- length() :- how long is it ? what about two dimensional objects?
- attribute :- does it have any metadta ?

In [1]:
# example
x<- 98
x
class(x)
typeof(x)
length(x)
attributes(x)

[1] 98

[1] "numeric"

[1] "double"

[1] 1

NULL

In [3]:
y = 1:10
y
class(y)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "integer"

R has many data structures. these include

- atomic vector
- list
- matrix
- data frame
- factors