# This is my first R notebook

In [4]:
# Creation of varibales 
a = 10 
b <- 20
30 -> c

In [5]:
# print the variables declared 
a
b
c

[1] 10

[1] 20

[1] 30

In [6]:
# Second method to print
a; b; c

[1] 10

[1] 20

[1] 30

In [7]:
# delaring 
n <- 15 
n

[1] 15

In [8]:
# delaring 
5-> n
n

[1] 5

In [11]:
# case sensitive trying 
# this is small x
x <- 1 
# this is caps x
X <- 10
x

[1] 1

In [10]:
X

[1] 10

In [12]:
# operation ( adding )
n <- 10 + 2
n

[1] 12

 the function rnorm(1) generates a normal random variate with mean zero and variance unity 
 
 if u simply type an equation and run it shows the value but doesnt stores it

In [21]:
n <- 3 + rnorm(1)
n

[1] 1.13497

In [22]:
name <- "carmen"; n1<-10; n2<- 100; m<- 0.5
ls()

 [1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name" "x"    "X"

pat command is used to print the words letter first staring with specified ( ^ letter)

In [24]:
ls(pat="^m")

[1] "m"

this command is used to findout the words having the specified letters

In [25]:
ls(pat="m")

[1] "m"    "name"

In [26]:
# this command is used to know declared variables untill now
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 1.13
n1 :  num 10
n2 :  num 100
name :  chr "carmen"
x :  num 1
X :  num 10

# this command is used for one line help

In [28]:
?lm

In [29]:
# " ?" this command is wrong 
help ("*") # is coorect

# mode() displays datatype of variable

In [32]:
x<-1 
A <-"Gomphotherium" ;compar<-TRUE ; z<-1i
mode(A);mode(compar);mode(z)

[1] "character"

[1] "logical"

[1] "complex"

# what ever the mod ethe missing value is hsown as NA(not available) A very large numeric value can be specified with an exponential notation

In [34]:
N<-2.1e23
N

[1] 2.1e+23

# NAN reprenstes Not a Number

In [35]:
x <-5/0
x
exp(x)
exp(-x)
x-x

[1] Inf

[1] Inf

[1] 0

[1] NaN